<div class="col-12">
    <div class="card border-dark mb-3">
        <div class="card-header">Posted by {{user.username}} on {{format_date created_at}}</div>
        <div class="card-body text-dark">
            <h5 class="card-title"><a href="/post/{{id}}">{{title}}</a></h5>
            <p class="card-text">{{post_text}}</p>
        </div>
    </div>
</div>